<h2 mat-dialog-title>Réponses pour : "{{ question.texte }}"</h2>
<mat-dialog-content>
  <apx-chart
    [series]="columnChartOptions.series"
    [chart]="columnChartOptions.chart"
    [xaxis]="columnChartOptions.xaxis"
    [dataLabels]="columnChartOptions.dataLabels"
    [legend]="columnChartOptions.legend"
    [grid]="columnChartOptions.grid"
    [plotOptions]="columnChartOptions.plotOptions"
  ></apx-chart>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Fermer</button>
</mat-dialog-actions>
