<mat-card class="cardWithShadow">
  <mat-card-content class="p-0">
    <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="d-flex align-items-center">
            <mat-icon>
              <i-tabler name="user-circle" class="icon-20 m-r-8"></i-tabler>
            </mat-icon>
          </div>
          Account
        </ng-template>
        <mat-card-content class="p-y-24 b-t-1">
          <div class="row">
            <!-- Change Profile -->
            <div class="col-sm-6">
              <mat-card class="cardWithShadow">
                <mat-card-content class="p-y-24">
                  <mat-card-title>Change Profile</mat-card-title>
                  <mat-card-subtitle class="mat-body-1">
                    Change your profile picture from here
                  </mat-card-subtitle>
                  <div class="text-center m-t-24">
                    <img [src]="logoPreview" class="rounded-circle" width="120" height="120"
                      style="object-fit: cover" />

                    <div class="m-t-24">
                      <button mat-flat-button color="primary" class="m-r-8">
                        Upload
                      </button>
                      <button mat-stroked-button color="warn">Reset</button>
                    </div>
                    <span class="f-s-14 m-t-24 d-block">
                      Allowed JPG, GIF or PNG. Max size of 800K
                    </span>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

            <!-- Change Password -->
            <div class="col-sm-6">
              <mat-card class="cardWithShadow">
                <mat-card-content class="p-y-24">
                  <mat-card-title>Change Password</mat-card-title>
                  <mat-card-subtitle class="mat-body-1">
                    To change your password please confirm here
                  </mat-card-subtitle>

                  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="m-t-24">
                    <!-- Current Password -->
                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
                      Current Password
                    </mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput type="password" formControlName="currentPassword" />
                    </mat-form-field>

                    <!-- New Password -->
                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
                      New Password
                    </mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput type="password" formControlName="newPassword" />
                    </mat-form-field>

                    <!-- Confirm Password -->
                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
                      Confirm Password
                    </mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput type="password" formControlName="confirmPassword" />
                    </mat-form-field>

                    <div class="text-right m-t-16">
                      <button mat-flat-button color="primary" type="submit" [disabled]="passwordForm.invalid">
                        Valider
                      </button>
                    </div>
                  </form>
                </mat-card-content>
              </mat-card>
            </div>

            <!-- Personal Details -->
            <div class="col-12">
              <mat-card class="cardWithShadow">
                <mat-card-content>
                  <mat-card-title>Personal Details</mat-card-title>
                  <mat-card-subtitle class="mat-body-1">
                    To change your personal detail, edit and save from here
                  </mat-card-subtitle>

                  <div class="row m-t-24">
                    <div class="col-sm-6">
                      <!-- Your Name -->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
                        Your Name
                      </mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" [value]="user.nom" disabled />
                      </mat-form-field>

                      <!-- Email -->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
                        Email
                      </mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="email" [value]="user.email" disabled />
                      </mat-form-field>
                    </div>

                    <div class="col-sm-6">
                      <!-- Nom de la société -->
                      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
                        Société
                      </mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" [value]="user.societe" disabled />
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>