<mat-form-field appearance="outline" class="w-100 mb-24">
  <mat-label>Choisissez un formulaire</mat-label>
  <mat-select [(ngModel)]="selectedFormId" (selectionChange)="onFormChange()">
    <mat-option *ngFor="let f of forms" [value]="f._id">
      {{ f.titre }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="chart-grid">
  <!-- Score global -->
  <ng-container *ngIf="overallChartOptions as overall">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Score global</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          [series]="overall.series"
          [chart]="overall.chart"
          [labels]="overall.labels"
          [legend]="overall.legend"
          [dataLabels]="overall.dataLabels">
        </apx-chart>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <!-- Score par section -->
  <ng-container *ngIf="sectionChartOptions as sectionOpts">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Score par section</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          [series]="sectionOpts.series"
          [chart]="sectionOpts.chart"
          [labels]="sectionOpts.labels"
          [legend]="sectionOpts.legend"
          [dataLabels]="sectionOpts.dataLabels">
        </apx-chart>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <!-- Score par question -->
  <ng-container *ngIf="questionChartOptions as questionOpts">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Score par question</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          [series]="questionOpts.series"
          [chart]="questionOpts.chart"
          [labels]="questionOpts.labels"
          [legend]="questionOpts.legend"
          [dataLabels]="questionOpts.dataLabels">
        </apx-chart>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
