<mat-card class="cardWithShadow">
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="w-100">

      <!-- Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- Assessment -->
      <ng-container matColumnDef="assessmentName">
        <th mat-header-cell *matHeaderCellDef>Assessment</th>
        <td mat-cell *matCellDef="let row">{{ row.assessmentName }}</td>
      </ng-container>

      <!-- Type -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let row">
          {{ row.assessmentType === 'normal' ? 'Normal' : 'Avant / Après' }}
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <!-- <button mat-icon-button color="primary" matTooltip="Voir">
            <mat-icon>visibility</mat-icon>
          </button> -->
         <button
  mat-icon-button
  color="primary"
  matTooltip="Voir"
  [routerLink]="[ row.assessmentId, row.userId ]"
>
  <mat-icon>visibility</mat-icon>
</button>
          <button mat-icon-button color="warn" matTooltip="Supprimer">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
