/* .question-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  background-color: #f5f5f5;
}

.question-text {
  flex: 1;
  font-size: 16px;
}

.radio-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

::ng-deep .custom-radio .mat-radio-outer-circle {
  border-color: black !important;
}
::ng-deep .custom-radio.mat-radio-checked .mat-radio-inner-circle {
  background-color: black !important;
}
::ng-deep .custom-radio.mat-radio-checked .mat-radio-outer-circle {
  border-color: black !important;
}

::ng-deep .custom-radio .radio-label {
  font-size: 24px !important;
  font-weight: bold;
  line-height: 1;
} */
