<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-flex justify-content-between mb-3">
      <h3>Liste des Rôles</h3>
      <button mat-flat-button color="primary" (click)="openDialog()">Ajouter</button>
    </div>

    <table mat-table [dataSource]="roles" class="w-100">
      <!-- Nom -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let el">{{ el.nom }}</td>
      </ng-container>

      <!-- Permissions -->
      <ng-container matColumnDef="permissions">
        <th mat-header-cell *matHeaderCellDef>Permissions</th>
        <td mat-cell *matCellDef="let el">{{ el.permissions?.join(', ') }}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let el">
          <button mat-icon-button color="primary" (click)="editRole(el)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRole(el._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
