<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-10">
        @if(options.theme === 'light') {
        <a [routerLink]="['/dashboards/dashboard1']">
          <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
        </a>
        } @if(options.theme === 'dark') {
        <a [routerLink]="['/dashboards/dashboard1']">
          <img src="./assets/images/logos/light-logo.svg" class="align-middle m-2" alt="logo" />
        </a>
        }

        <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
          <img src="/assets/images/backgrounds/welcome-bg2.png" alt="login" style="max-width: 500px" />
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-xl-4 p-0 d-flex">
      <div class="p-24 d-flex flex-column justify-content-center w-100" style="height: 100%;">
        <div class="w-100" style="max-height: 100%;">
          <div class="mx-auto" style="max-width: 100%;">
            <h4 class="f-w-700 f-s-20 m-0">{{ 'WELCOME' | translate }}</h4>
            <span class="f-s-12 d-block mat-body-1 m-t-4">{{ 'YOUR_ADMIN_DASHBOARD' | translate }}</span>
            <form class="m-t-16" [formGroup]="form" (ngSubmit)="submit()">
              <!-- Nom -->
              <mat-label class="mat-subtitle-2 f-s-12 f-w-600 m-b-8 d-block">
                {{ 'FORM.NOM' | translate }}
              </mat-label>
              <mat-form-field appearance="outline" class="w-100 compact-field" color="primary">
                <input matInput formControlName="nom" class="f-s-12" />
                <mat-error *ngIf="f['nom'].touched && f['nom'].invalid" class="f-s-10">
                  <div *ngIf="f['nom'].errors?.['required']">{{ 'FORM.REQUIRED_NOM' | translate }}</div>
                  <div *ngIf="f['nom'].errors?.['minlength']">{{ 'FORM.MIN_LENGTH_NOM' | translate }}</div>
                </mat-error>
              </mat-form-field>

              <!-- Société -->
              <mat-label class="mat-subtitle-2 f-s-12 f-w-600 m-b-8 d-block">
                {{ 'FORM.SOCIETE' | translate }}
              </mat-label>
              <mat-form-field appearance="outline" class="w-100 compact-field" color="primary">
                <input matInput formControlName="nomSociete" class="f-s-12" />
              </mat-form-field>

              <!-- Téléphone -->
              <mat-label class="mat-subtitle-2 f-s-12 f-w-600 m-b-8 d-block">
                {{ 'FORM.TELEPHONE' | translate }}
              </mat-label>
              <mat-form-field appearance="outline" class="w-100 compact-field" color="primary">
                <input matInput formControlName="tel" class="f-s-12" />
              </mat-form-field>

              <!-- Email -->
              <mat-label class="mat-subtitle-2 f-s-12 f-w-600 m-b-8 d-block">
                {{ 'FORM.EMAIL' | translate }}
              </mat-label>
              <mat-form-field appearance="outline" class="w-100 compact-field" color="primary">
                <input matInput type="email" formControlName="email" class="f-s-12" />
                <mat-error *ngIf="f['email'].touched && f['email'].invalid" class="f-s-10">
                  <div *ngIf="f['email'].errors?.['required']">{{ 'FORM.REQUIRED_EMAIL' | translate }}</div>
                </mat-error>
              </mat-form-field>

              <!-- Mot de passe -->
              <mat-label class="mat-subtitle-2 f-s-12 f-w-600 m-b-8 d-block">
                {{ 'FORM.MOT_DE_PASSE' | translate }}
              </mat-label>
              <mat-form-field appearance="outline" class="w-100 compact-field" color="primary">
                <input matInput type="password" formControlName="password" class="f-s-12" />
                <mat-error *ngIf="f['password'].touched && f['password'].invalid" class="f-s-10">
                  <div *ngIf="f['password'].errors?.['required']">{{ 'FORM.REQUIRED_MDP' | translate }}</div>
                </mat-error>
              </mat-form-field>

                  <!-- Confirmer le mot de passe -->
              <mat-label class="mat-subtitle-2 f-s-12 f-w-600 m-b-8 d-block">
                {{ 'FORM.CONFIRMER_MDP' | translate }}
              </mat-label>
              <mat-form-field appearance="outline" class="w-100 compact-field" color="primary">
                <input [type]="hideConfirm ? 'password' : 'text'" matInput formControlName="confirmPassword" class="f-s-12" />
              
                <mat-error *ngIf="f['confirmPassword'].touched && (f['confirmPassword'].invalid || form.errors?.['passwordMismatch'])" class="f-s-10">
                  <div *ngIf="f['confirmPassword'].errors?.['required']">{{ 'FORM.REQUIRED_MDP' | translate }}</div>
                  <div *ngIf="form.errors?.['passwordMismatch']">Les mots de passe ne correspondent pas</div>
                </mat-error>
              </mat-form-field>


              <!-- Logo société -->
              <mat-label class="mat-subtitle-2 f-s-12 f-w-600 m-b-8 d-block">
                {{ 'FORM.LOGO' | translate }}
              </mat-label>
              <div class="d-flex align-items-center gap-2 mb-3">
                <button mat-stroked-button color="primary" type="button" (click)="fileInput.click()">
                  <mat-icon class="mr-2">upload</mat-icon>
                  {{ selectedLogoName || ('FORM.CHOOSE_LOGO' | translate) }}
                </button>
                <input #fileInput type="file" hidden (change)="onLogoSelected($event)" accept="image/*" />
              </div>

              <!-- Prévisualisation -->
              <div *ngIf="logoPreviewUrl" class="mb-3 text-center">
                <img [src]="logoPreviewUrl" alt="Logo preview" style="max-height: 100px; border-radius: 8px;" />
              </div>

              <!-- Bouton submit -->
              <button mat-flat-button color="primary" class="w-100 compact-button m-t-8" [disabled]="!form.valid">
                <span class="f-s-12">{{ 'FORM.SIGN_UP' | translate }}</span>
              </button>
            </form>


            <span class="d-block f-w-500 f-s-12 m-t-16 text-center">
              {{ 'FORM.ALREADY_ACCOUNT' | translate }}
              <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500">
                {{ 'FORM.SIGN_IN' | translate }}
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>